<!-- Footer -->
        <footer class=" container-fluid text-center ">
            <div class="row">
              <br><br>
              <hr>
                <div class="col-lg-12">
                    <small>Copyright &copy; WebStudioPlace. 2017</small>
                </div>
            </div>
        </footer>
