<!-- Header image -->
<div class="container header-bg ">
  <%# <img class="img-responsive " src="https://c1.staticflickr.com/5/4174/34337330681_1da630c104_o.jpg" alt="" />%>
<div class="row">
  <div class="wsp-header-left col-lg-6">
  <p>Sell Your House Fast
  and "Be Done"...
   Arrow RightComplete This Quick Form

  To Get The Process Started -

                Or Call Now!

  No Hassel. No Repairs. Fast Closings.</p>
  </div>


  <div class="wsp-header-right col-lg-6">
    <form>
<div class="form-group">
  <h3>Get Started Here...</h3><br>
  <p>"We buy houses in ANY CONDITION!  Put your address and email below and answer 5 easy questions on the next page to get a cash offer in 24-48 hours!"</p>
<label for="exampleInputEmail1">Address</label>
<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Address">
</div>
<div class="form-group">
<label for="exampleInputPassword1">Phone</label>
<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Phone">
</div>
<div class="form-group">
<label for="exampleInputEmail1">Email </label>
<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
</div>

<button type="submit" class="btn btn-default">Get My FAIR Offer >>></button>
</form>
                          </div>


</div>


</div>
