<!-- Header image -->
<div class="container header-bg ">
  <br><br><br><br>

<div class="row">
  <div class="col-lg-6">
    <div class="wsp-header-left ">
    <div class="row">
      <div class="col-md-6">
        <h2 class="relative">Sell Your House Fast and Move On...</h2>
        <p>      Complete the quick form and move one step closer to a Fair Offer today!
    </p>

    <br><h3>No Repairs. Fast and Flexible. No Fees.</h3>

    <div class=" row arrow-div ">
      <img  class=' ' src="https://c1.staticflickr.com/5/4223/35022893435_37db356c10_o.png" alt="">
      </div>

        </div>
      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <form class="wsp-header-right">
  <div class="form-group">
  <h3>Get Started Here...</h3><br>
  <p>"We buy houses in ANY CONDITION in Georgia. There are no commissions, hidden fees, and no obligation. Get started by telling us a little about the property below."</p>
  <label for="exampleInputEmail1">Address</label>
  <input type="message" class="form-control" id="exampleInputMessage1" placeholder="Address">
  </div>

  <div class="form-group">
  <label for="exampleInputPassword1">Phone</label>
  <input type="phone" class="form-control" id="exampleInputPhone1" placeholder="Phone">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1">Email </label>
  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>

  <button type="submit" class="btn btn-default">Get My FAIR Offer >>></button>
  </form>

  </div>
</div>

</div>
