<!-- Page Content Questions Page -->
 <div class="container">
   <br><br>

     <!-- Heading Row -->
     <div class="row">
         <div class="col-md-8">
             <img class="img-responsive img-rounded" src="https://c1.staticflickr.com/5/4185/34541741746_50a8283f6e_o.jpg" alt="">
         </div>
         <!-- /.col-md-8 -->
         <div class="col-md-4">
             <h1>How does the process work when selling my house to you?</h1>
             <p>The process is very simple. Start by completing the form to give us information about the property you want to sell. If the property is one that fits our criteria, we will schedule to see the house. When we meet you at the house we walk through and look at what repairs or other changes are necessary. If we come to an agreement on a price, we will draw up a contract that is then submitted to a closing attorney. The closing attorney preps for the closing. You get paid for the property at the closing. It's that simple.</p>
             <a class="btn btn-primary btn-lg" href="#">Get Started Now >>>>> </a>
         </div>
         <!-- /.col-md-4 -->
     </div>
     <!-- /.row -->

     <hr>

     <!-- Call to Action Well -->
     <div class="row">
         <div class="col-lg-12">
             <div class="well text-center">
                 This is a well that is a great spot for a business tagline or phone number for easy access!
             </div>
         </div>
         <!-- /.col-lg-12 -->
     </div>
     <!-- /.row -->

     <!-- Content Row -->
     <div class="row">
         <div class="col-md-4">
             <h2>Do you buy houses that need a lot of or costly repairs?</h2>
             <p>Of course! We actually prefer it. Most of the properties we buy need repairs. Foundation problems? No Problem. Termites? Seen It. Rotten wood? Not a Problem. Overgrown landscaping? Love It! Water Damage, mold, hoarding and so on? No problem, we can handle it all.</p>
             <a class="btn btn-default" href="#">More Info</a>
         </div>
         <!-- /.col-md-4 -->
         <div class="col-md-4">
             <h2>Do you buy houses that do not need any repairs?</h2>
             <p>If you have a house that does not need repairs, don't worry, we buy those too!</p>
             <a class="btn btn-default" href="#">More Info</a>
         </div>
         <!-- /.col-md-4 -->
         <div class="col-md-4">
             <h2>How long does it take to get an offer?</h2>
             <p>We can usually see the house and make you an offer right away. This typically happens within 24 hours if you are able to show the property or give access to it.</p>
             <a class="btn btn-default" href="#">More Info</a>
         </div>
         <!-- /.col-md-4 -->
     </div>

     <br><br>
     <div class="row">
         <div class="col-md-4">
             <h2>How long does it take to sell my house and get the money?</h2>
             <p>If absolutely necessary, we can close in as fast as 10 days. Typically, we schedule closing for 2-3 weeks but are willing to set it to be whenever is convenient for you. So whether you want to close within a 10 days or a month, we can usually accommodate it.</p>
             <a class="btn btn-default" href="#">More Info</a>
         </div>
         <!-- /.col-md-4 -->
         <div class="col-md-4">
             <h2>Are there any fees if I sell my house to you?</h2>
             <p>We do NOT charge fees to you to buy your property. We make our money with the investment and do not need to make any by charging you a commission.</p>
             <a class="btn btn-default" href="#">More Info</a>
         </div>
         <!-- /.col-md-4 -->
         <div class="col-md-4">
             <h2>If I request an offer from you, am I obligated to sell you my house?</h2>
             <p>Absolutely not! It doesn't hurt to see what we can offer you for your house.</p>
             <a class="btn btn-default" href="#">More Info</a>
         </div>
         <!-- /.col-md-4 -->
     </div>
     <br><br>


   </div>
