<!-- Page Content -->
    <div class="container">



        <!-- /.row -->

        <!-- Service Panels -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">How It Works </h2>
            </div>

            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="https://c1.staticflickr.com/5/4165/34196808350_161fca10d2_o.jpg" alt="">
                <h2>Fill Out the Form</h2>
                <p>Simply fill out the form at the bottom. Once you submit the information, we will receive it and contact you. Congratulations, you're on to step 2!</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="https://c1.staticflickr.com/5/4174/34196810000_f0d195e754_o.jpg" alt="">
                <h2>We Contact You to See the House</h2>
                <p>When we contact you, we'll see what is the best way to help your situation and get more information about your property. Afterwards we'll set up a convenient time to come and see the house. At the house, we quickly look at everything and determine what our offer is base on any repairs needed.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="https://c1.staticflickr.com/5/4189/34583047865_c9c84ec083_o.jpg" alt="">
                <h2>You Get a Cash Offer for Your House</h2>
                <p>If you like the offer, we complete a contract. Closings are handled by a local closing attorney. Once paperwork is ready, we close at the attorney's office and you receive your money!</p>
            </div>
        </div>
        <!-- /.row -->
        </div>



        <!-- /.row -->


</div>
