<!-- Page Content -->
<!-- Content Section -->



   <!-- Content Section -->
   <section>

       <div class="container">
           <div class="row">
              <h1> Examples of how we can help</h1>
               <div class="col-lg-6">
                    <ul>
                      <li><h4>Relocate- have two payment</h4></li>
                      <li><h4>Expired listings- your house didn't sell</h4></li>
                      <li><h4>Avoiding foreclosure</h4></li>
                      <li><h4>Divorce</h4></li>
                      <li><h4>Inherited an unwanted property</h4></li>

                    </ul>
                </div>

               <div class="col-lg-6">
                 <ul>
                   <li><h4>Own a vacant house</h4></li>
                   <li><h4>Behind on payments</h4></li>
                   <li><h4>Needs repair you can't pay for</h4></li>
                   <li><h4>Bad rentals vacant or occupied</h4></li>
                   <li><h4>Job Loss</h4></li>
                   <li><h4>And more</h4></li>

                 </ul>

              </div>
           </div>
           <!-- /.row -->
       </div>
       <!-- /.container -->
   </section>
      <!-- /.row -->
      <br><br>

      <!-- Page Features -->
       <div class="row text-center">

           <div class="col-md-3 col-sm-6 hero-feature">
               <div class="thumbnail">
                   <img src="http://placehold.it/800x500" alt="">
                   <div class="caption">
                       <h3>FAST Fair Offers</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                       <p>
                           <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                       </p>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 hero-feature">
               <div class="thumbnail">
                   <img src="http://placehold.it/800x500" alt="">
                   <div class="caption">
                       <h3>NO Real Estate Agent Commissions</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                       <p>
                           <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                       </p>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 hero-feature">
               <div class="thumbnail">
                   <img src="http://placehold.it/800x500" alt="">
                   <div class="caption">
                       <h3>Peace of Mind</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                       <p>
                           <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                       </p>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 hero-feature">
               <div class="thumbnail">
                   <img src="http://placehold.it/800x500" alt="">
                   <div class="caption">
                       <h3>Move When You Want </h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                       <p>
                           <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                       </p>
                   </div>
               </div>
           </div>

       </div>
       <!-- /.row -->
