<!-- Page Content -->
<!-- Content Section -->



   <!-- Content Section -->
   <section>

       <div class="container">
           <div class="row">
              <h3> Your house was once an asset but life changes and you would like to move on. We are here to help make that move quick and easy.</h3>

<h1><li>Situations where we can help.....</li></h1>
               <div class="col-lg-6">
                    <ul>
                      <li><h4>Relocate - Are you making two payments?</h4></li>
                      <li><h4>Expired Listings - Your house didn't sell</h4></li>
                      <li><h4>Avoiding Foreclosure</h4></li>
                      <li><h4>Divorce</h4></li>
                      <li><h4>Inherited Property</h4></li>
                      <li><h4>Job Loss</h4></li>


                    </ul>
                </div>

               <div class="col-lg-6">
                 <ul>
                   <li><h4>Own a Vacant House</h4></li>
                   <li><h4>Behind on Payments</h4></li>
                   <li><h4>Needs Costly Repairs</h4></li>
                   <li><h4>Bad Rentals  (Vacant or Occupied)</h4></li>
                   <li><h4>And More</h4></li>

                 </ul>

              </div>
           </div>
           <!-- /.row -->
       </div>
       <!-- /.container -->
   </section>
      <!-- /.row -->
      <br><br>

      <!-- Page Features -->
       <div class="row text-center">

           <div class="col-md-3 col-sm-6 hero-feature">
               <div class="thumbnail">
                   <img src="https://c1.staticflickr.com/5/4155/34452476241_110caa7c4d_o.jpg" alt="">
                   <div class="caption">
                       <h3>Fast Fair Offers</h3>
                       <p>We can give you a fair offer in as little as 24-48 hours after viewing your property.</p>
                       <p>
                         <a href="#" class="btn btn-default">Get Started</a>
                       </p>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 hero-feature">
               <div class="thumbnail">
                   <img src="https://c1.staticflickr.com/5/4160/34452451511_a7cac416f1_o.jpg" alt="">
                   <div class="caption">
                       <h3>No Real Estate Agent Commissions</h3>
                       <p>Save money buy skipping the agent commissions.</p>
                       <p>
                            <a href="#" class="btn btn-default">Save Now</a>
                       </p>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 hero-feature">
               <div class="thumbnail">
                   <img src="https://c1.staticflickr.com/5/4194/34452449901_ac3525c9f9_o.jpg" alt="">
                   <div class="caption">
                       <h3>Peace of Mind</h3>
                       <p>Sleep easy and start to enjoy life again. Your property headache will be a thing of the past by selling to us.</p>
                       <p>
                            <a href="#" class="btn btn-default">Click to Relax</a>
                       </p>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 hero-feature">
               <div class="thumbnail">

                   <img class="right-img"src="https://c1.staticflickr.com/5/4178/34421222752_6376acb0bf_o.jpg" alt="">
                   <div class="caption">
                       <h3>Move When You Want </h3>
                       <p>We are flexible so you choose the closing date that works best for you, your family and your life.</p>
                       <p>
                            <a href="#" class="btn btn-default">Freedom Here</a>
                       </p>
                   </div>
               </div>
           </div>

       </div>
       <!-- /.row -->
