<!DOCTYPE html>
<html>
  <head><% include partials/templatesp/headsp.ejs %></head>
  <body id="<%= pageID %>">


    <% include partials/templatesp/nav.ejs %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <% include partials/contentsp/portfoliosp.ejs %>
        </div><!-- primary -->

      <% include partials/templatesp/footersp.ejs %>
      </div>
    </div><!-- container -->

    <% include partials/templatesp/jssp.ejs %>
  </body>
</html>
